#container {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    height: 960px;
}

.square {
  box-sizing: border-box;
  border: 1px solid #ddd;
}

#btnContainer{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

button.active {
  background-color: orange;
  font-weight: 700;
}